{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": false
      }
    ],
    "treatUndefinedAsUnspecified": false
  }
}